@model dynamic

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid" style="margin-bottom: 4vw;">
        <div class="row">
            <img class="responsive" style="border-radius: 8px;" src="@Model.Banner">
        </div>
    </div>
    <div class="container">
        <div class="row">
          @foreach (Producto producto in Model.Mostrar)
          {
            <div class="col-md-3 col-6">
              <form method="GET" action="Detalle" id="@producto.Name"> 
                <input type="hidden" value="@producto.ID" id="valor" asp-for="@producto.ID">  
                <a href="javascript:{}" onclick="document.getElementById('@producto.Name').submit();">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px;width: 100%; display: block;" src="@producto.imageData" data-holder-rendered="true">
                    <div class="card-body">
                      <h4>@producto.Name</h4>
                      <p class="card-text">@producto.Description</p>
                    </div>
                  </div>
                </a>
              </form>
            </div>
          }
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>