@model dynamic

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <div class="img-header" style="background: url(@Model.Banner);">
     <div class="welcome">
       <h1>@Model.Titulo</h1>
       <hr>
       <p>@Model.Descripcion</p>
       <button id="abajo">Novedades</button>
     </div>       
    </div>
</head>
<br><br><br>
<body>
    <div class="container">
        <div class="row">
          @foreach (Producto producto in Model.Mostrar)
          {
            <div class="galeria-port col-md-3 col-6">
              <form method="GET" action="Detalle" id="@producto.Name"> 
                <input type="hidden" value="@producto.ID" id="valor" asp-for="@producto.ID">  
                <a href="javascript:{}" onclick="document.getElementById('@producto.Name').submit();">
                  <div class="imagen-port card mb-4 shadow-sm">
                    <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px;width: 100%; display: block;" src="@producto.imageData" data-holder-rendered="true">
                    <div class="hover-galeria card-body">
                      <img src="img/icono1.png" alt="">
                      <p>@producto.Name</p>
                      <p>@producto.Description</p>
                    </div>
                  </div>
                </a>
              </form>
            </div>
          }
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>