

@model dynamic

@{
    ViewData["Title"] = "Home Page";
}


<div class="container" style="height: 30vw;">
        <div class="gallery js-flickity responsive" data-flickity-options='{ "cellAlign": "center", "contain": true }'>
            <div class="gallery-cell"><img src='~/img/ofertas_banner.jpg' class="responsive"/></div>
            <div class="gallery-cell"><img src='~/img/sale_banner.jpg' class="responsive"/></div>
            <div class="gallery-cell"><img src='~/img/ofertas_banner.jpg' class="responsive"/></div>
        </div>
</div>
<div class="container">
    <div style="margin-bottom: 2vw;">
        <h3>Categorias</h3>
        
            <div class="main-carousel" data-flickity='{"groupCells": true, "cellAlign": "left", "contain": true }'>
                @foreach (Categoria categoria in Model.Cat)
                {
                        <div class="carousel-cell">
                            <form method="GET" action="Categoria" id="@categoria.Name"> 
                                <input type="hidden" value="@categoria.ID" id="valor" asp-for="@categoria.ID">  
                                <a href="javascript:{}" onclick="document.getElementById('@categoria.Name').submit();">
                                    <div class="card bg-dark text-white">
                                        <img class="card-img" src="@categoria.imageData" alt="@categoria.Name">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">@categoria.Name</h5>
                                        </div>
                                    </div>
                                </a>
                            </form>
                        </div>
                }
            </div>
        
    </div>
    <div>
        <h3>Recomendaciones</h3>
        <div class="main-carousel" data-flickity='{"groupCells": true, "cellAlign": "left", "contain": true }'>
                @foreach (Producto producto in Model.Productos)
                {
                        <div class="carousel-cell">
                            <form method="GET" action="Detalle" id="@producto.Name"> 
                                <input type="hidden" value="@producto.ID" id="valor" asp-for="@producto.ID">  
                                <a href="javascript:{}" onclick="document.getElementById('@producto.Name').submit();">
                                    <div class="card bg-dark text-white">
                                        <img class="card-img" src="@producto.imageData" alt="@producto.Name">
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">@producto.Name</h5>
                                        </div>
                                    </div>
                                </a>
                            </form>
                        </div>
                }
        </div>
    </div>
</div>
