@model dynamic;

@{
    ViewData["Title"] = "@Model.Producto.Name";
}

 <!--TO Jalar imagenes de la base de datos dependiendo de producto con su descripcion -->
<div class="container" style="height: 30vw;">
        <div class="gallery js-flickity responsive" data-flickity-options='{ "cellAlign": "center", "contain": true }'>
            <div class="gallery-cell"><img src='~/img/ofertas_banner.jpg' class="responsive"/></div>
            <div class="gallery-cell"><img src='~/img/sale_banner.jpg' class="responsive"/></div>
            <div class="gallery-cell"><img src='~/img/ofertas_banner.jpg' class="responsive"/></div>
        </div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-12">
			<nav aria-label="breadcrumb">
  				<ol class="breadcrumb">
    			<li class="breadcrumb-item"><a href="index.html">INICIO</a></li> <!--falta jalar a la respectiva pagina--> 
    			<li class="breadcrumb-item active" aria-current="page">SERVICIOS</li> <!--falta jalar a la respectiva pagina--> 
  				</ol>
				</nav>	
		</div>				
	</div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-12">
            <div>
                <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px;width: 100%; display: block;" src="@Model.Producto.imageData" data-holder-rendered="true">
            </div>
        </div>
        <div class="col-md-7 col-12">
            <div><p class="detallesubtitulos">@Model.Producto.Name</p></div>
            <div><p>@Model.Producto.Description</p></div>
            <div><p class="detallesubtitulos">Trabajador:</p>
            <p>@Model.Usuario.Nombre @Model.Usuario.Apellido</p></div>
            <!-- Button trigger modal -->
            <div>
            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#staticBackdrop">
             CONTRATAR SERVICIO
            </button>
            </div>

        </div>

    </div>

</div>
