@model dynamic;

@{
    ViewData["Title"] = "@Model.Producto.Name";
    
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="row mb-3">
        <div class="col-md-12 col-md-offset-2">
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row">
                    @foreach (Producto producto in Model.Producto){
                    <div class="col-md-8">
                    <img height="100%" width="100%" alt="Thumbnail [100%x225]" src="@producto.imageData" data-holder-rendered="true">
                    </div>
                    <div class="col-md-4">
                    <div class="card-body">
                        <h2 class="card-title">Información de la Empresa</h2>
                        <h4 class="card-text">Nombre:</h4><p class="card-title">@producto.Name</p>
                        <h4 class="card-title">Descripción:</h4><p class="card-text">@producto.Description</p>
                        <h4 class="card-text">Empleado:</h4><p class="card-text">@Model.Usuario.Nombre @Model.Usuario.Apellido</p>
                        <h4 class="card-text">¿Desea Contratar Nuestro Servicio?</h4>
                        <form method="POST" asp-controller="Detalle" asp-action="AddCart">
                            <input type="hidden" value="@producto.ID" asp-for="@producto.ID">
                            <!-- Input mandando usuario -->             
                            <button type="submit" class="btn btn-outline-info">Click Aquí</button>              
                        </form>
                    </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
                <div class="col-md-6 col-md-offset-2">
                    </section>
                    <h4>Otros Servicios</h4>
                        <div class="card bg-dark text-white">
                        <img src="/img/gasfi2.jpg" alt="gasfi2" height="100%" width="100%">
                            <div class="card-img-overlay">
                                <h5 class="card-title" style="color: blue;">Lavado de autos</h5>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 col-md-offset-2">
                <h4>Reseña</h4>
                <section>
                    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                        <img src="/img/gasfi2.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                        <span class="w3-right w3-opacity">16 min</span>
                        <h4>Juanito</h4><br>
                        <hr class="w3-clear">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>  
                </section>
                </div>
        </div>

</div>