@model dynamic;

@{
    ViewData["Title"] = "@Model.Producto.Name";
}

 <!--TO Jalar imagenes de la base de datos dependiendo de producto con su descripcion -->



<div class="container">
    <div class="row">

        <img class="card-img-top img-fluid"" alt="Thumbnail [100%x225]" style="height: 225px;width: 100%; display: block;" src="@Model.Producto.imageData" data-holder-rendered="true" alt="Responsive image">

        
    </div>

    <div class="row">
        <Strong>Descripcion: </Strong>
    </div>

    <div class="row">
        <p>@Model.Producto.Description</p>
    </div>
    
</div>

<div class="container">
    <div class="row">
        <strong>Trabajador:</strong>
    </div>


    <div class="row">
        <p>@Model.Usuario.Nombre @Model.Usuario.Apellido</p>
    </div>

</div>