@model dynamic;

@{
    ViewData["Title"] = "@Model.Producto.Name";
}

 <!--TO Jalar imagenes de la base de datos dependiendo de producto con su descripcion -->



<div class="container">

    
    <div class="row" style="margin-top: 40px;">
    <div class="col-sm">

        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px;width: 100%; display: block;" src="@Model.Producto.imageData" data-holder-rendered="true">

    </div>
    <div class="col-sm">
        <p>@Model.Producto.Description</p>
    </div>
    </div>
</div>

<div class="container">
    <div class="col-sm">
        <strong>Trabajador:</strong>
    </div>
</div>
<div class="container">
    <div class="col-sm">
        <p>@Model.Usuario.Nombre @Model.Usuario.Apellido</p>
    </div>
</div>